@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Open sans";
  color: #555;
  background-color: #eee;
}

body h1 {
  font-size: 3.6rem;
  font-family: "Raleway";
  color: #333;
}

body h2 {
  font-size: 2.4rem;
  font-family: "Raleway";
  color: #333;
}

body h3 {
  font-size: 1.8rem;
  font-family: "Raleway";
  color: #333;
}

body .header {
  background-color: #0c6588;
  background-image: url(/ressources/images/header.jpg);
  background-size: cover;
  color: #e2f7ff;
}

body .header .menu {
  background-color: #e2f7ff;
}

body .container {
  max-width: 80%;
  background-color: #fff;
  margin: auto;
}

body .footer {
  background-color: #333;
  color: #ddd;
}

body .footer a {
  color: #eee;
}

body a {
  color: #0c6588;
  text-decoration: none;
}

body a:hover {
  color: #000;
}

.header {
  height: 209px;
  width: 100%;
}

.header .options {
  height: 25px;
  width: 80%;
  background-color: #e2f7ff;
  margin: auto;
}

.header .banner {
  width: 80%;
  height: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .banner_logo {
  width: 5%;
  height: 120px;
}

.header .banner_title {
  width: 25%;
  margin: 0 1em;
}

.header .banner_title h1 {
  color: #e2f7ff;
  font-size: 2.4rem;
}

.header .banner_title p {
  font-size: 1rem;
}

.header .banner_search {
  width: 45%;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #0c6588;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .banner_search input {
  color: white;
  border: none;
  background-color: transparent;
  width: 60%;
  padding: 0 3em;
}

.header .banner_search select {
  border: none;
  background-color: transparent;
  color: white;
}

.header .menu {
  background-color: #e2f7ff;
  width: 80%;
  height: 63.5px;
  margin: auto;
}

.header .menu ul:first-child {
  text-align: center;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  position: relative;
}

.header .menu ul li {
  width: 100%;
  padding: 0.7em 0.5em;
  font-size: 1.3rem;
}

.header .menu ul li:hover {
  background-color: #fff;
  color: #000;
}

.header .menu ul li:hover .menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

.header .menu ul li:hover .menu_div ul {
  width: 50%;
}

.header .menu ul li:hover .menu_div ul > li:first-child {
  color: #555;
  font-size: 1.8rem;
  margin: 0.5em 0;
}

.header .menu .menu_div {
  width: 100%;
  display: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header .menu .menu_div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5em;
  font-size: 1rem;
}

.header .menu .menu_div ul li {
  padding: 0.2em 0;
  text-align: left;
}

.container .location {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .produit {
  padding: 1em;
}

.container .produit h2 {
  margin: 1em 0;
}

.container .produit .liens {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .produit .presentation .presentation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .produit .presentation .presentation_content img {
  width: 50%;
  height: 50%;
}

.container .produit .presentation .presentation_description {
  width: 50%;
  height: 60%;
  display: block;
}

.container .produit .presentation .presentation_description img {
  width: 20%;
}

.container .produit .presentation .presentation_description .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.container .produit .presentation .presentation_description .logo img {
  margin: 0 1em;
}

.container .produit .presentation .presentation_description .prix_garantie {
  max-width: 90%;
  margin: auto;
}

.container .produit .presentation .presentation_description .prix {
  background-color: #eee;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em 1em;
}

.container .produit .presentation .presentation_description .prix p {
  font-size: 0.8rem;
  text-align: left;
}

.container .produit .presentation .presentation_description .prix p:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
}

.container .produit .presentation .presentation_description .garantie {
  background-color: #c4c1c1;
  width: 100%;
  margin: auto;
  font-size: 1rem;
  text-align: center;
  padding: 1.5em 1em;
  margin-bottom: 1em;
}

.container .produit .presentation .presentation_description p {
  font-size: 1rem;
  width: 90%;
  margin: auto;
  line-height: 2rem;
}

.container .produit .presentation .presentation_description ul {
  width: 80%;
  font-size: 1rem;
  margin: auto;
  line-height: 2rem;
  margin-top: 0.5em;
}

.container .produit article h3 {
  margin: 1em 0;
}

.container .produit article .descriptif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .produit article .descriptif div {
  width: 50%;
}

.container .produit article .descriptif img {
  border: 1px solid silver;
}
/*# sourceMappingURL=style.css.map */